@charset "utf-8";

/* import bebas neue from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.header{
    padding: 100px;
    text-align: right;
    background: #94618e;
    color:white;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
}

.header img{
    width: 300px;
    height: 300px;
    float: left;
    display: block;
    margin: 150px auto;
    position: absolute;
    z-index: 9;
}

.col-left{
    flex:60%;
    text-align: justify;
    width: 100%;
    padding: 100px;
    background-color:#f8eee7;
}

.col-right{
    flex:40%;
    text-align: justify;
    width: 100%;
    padding: 100px;
    background-color: #f4dec8;
}
.col-left h1{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}
.row{
    height: 100%;
    display: flex;
    position: relative;
}
.row p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
}